title: Interactuar Objetos
desctiption: Interactuar Objetos es un sitio donde encontrar eso que buscabas, objetos hechos a manos y con amor.
url: https://espaciocentenera.github.io/interactuarobjetos/
permalink: ':title/'

markdown: kramdown
baseurl: "/"
full-version: "https://espaciocentenera.github.io/interactuarobjetos/"

sass:
    style: compressed

  
#optimization
#compress.html
compress_html:
  clippings: [html,div, p, ul, td, h1, h2, h3, h4,link, meta, footer, nav, img, header, hr, br, head, style, li, ul, ol, time, main, script, title]
  comments: ["<!-- ", " -->"]
  endings: [all]
  ignore:
    envs: [local]
  blanklines: false
  profile: false
  startings: []

highlight: rouge


# Tracker
analytics: UA-83979019-1

# Comments
disqus-shortname: webjeda-demo

# Contact form
# Go to https://getsimpleform.com and get a API token by signing up with your email and enter that here
api-token:   

include: [_pages]
version: 0.8

plugins: 
    - jekyll-paginate
    - jekyll-seo-tag