---
layout: page
hide: true
---
<style TYPE="text/css">
.gallery-image-wrapper {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1em;
  position: relative;
}
.gallery-image {
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  max-height: 100%;
  max-width: 100%;
}
<div id="main">
</style>
<h1><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h1>
<hr />
{% for image in page.images %}
    <div class="gallery-image-wrapper">
        <a name="{{ image.name }}"></a>
        <a href="{{ image.name }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
            <img class="gallery-image" src="thumbs/{{ image.name }}" />
        </a>
    </div>
{% endfor %}



</div>



<form method="post" action="https://formspree.io/{{ site.email }}">
  <div class="row">
    <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Nombre" /></div>
    <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
    <div class="12u$">
      <textarea name="message" placeholder="Mensaje"></textarea>
    </div>
    <div class="12u$">
      <input type="submit" value="Enviar Message" />
    </div>
  </div>
</form>
